{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор, меня зовут Радик!</h1>
  <p>

    Тут нужно рассказать о себе. Постараюсь сделать это кратко.
    <br>
    <br>
    Раньше я жил во Владикавказе, а 3 года назад поступил и переехал в
    Санкт-Петербург. Совсем недавно я начал свой путь в Яндексе. Сейчас я
    являюсь асессором в сфере программирования(оцениваю страницы, пишу
    ликбезы). Совместно с этим я прохожу обучение в Яндекс практикуме по
    направлению pyton-разработчик.
    <br>
    <br>
    Я люблю программировать, решать сложные задачи. Зачастую с такими задачами
    приходится изучать много тех. документации, но это не останавливает мое
    желание погружаться в разработку. Меня интересуют различные проекты, в
    которых я мог бы получить профессиональный опыт, а также попробовать
    что-то новое. В будущем я хотел бы заниматься Machine learning.
    <br>
    <br>
    Также у меня есть ушастый помощник. Его зовут Лютик и он французский
    бульдог. Хочу завершить этот рассказ его фотографией, чтобы поднять вам
    настроение!
  </p>
  <img src="{% static 'img/lutik_hello.png' %}"
       class="mx-auto d-block"
       alt="Лютик"
       width="400"
       height="300"
  >
{% endblock %}